# Web Server
fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.6

# Image Processing
Pillow==10.2.0
numpy>=1.26.3

# The Brain (CPU version is smaller and easier for basic servers)
tensorflow-cpu==2.16.1
motor